In [2]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [3]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [4]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark >= 60: # 60점을 넘으면 합격 통보
        print("%d번 학생은 합격입니다." % number)
    else:          # 60점 미만은 불합격 통보
        print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [8]:
marks = [90, 25, 67, 45, 80]

number = 0
for i in marks:
    number = number + 1
    if i < 60:          # 점수가 60점 미만인 경우 i<60이 참이 되어 continue문이 수행된다.
        continue 
    print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [13]:
a = range(10) # 리스트를 만들어주는 함수 (마지막 숫자 미포함)

In [14]:
a

range(0, 10)

In [15]:
a = range(1,11)

In [16]:
a

range(1, 11)

In [24]:
add = 0
for i in range(1, 11):
    add = add + i
    
    
print(add)

55

In [30]:
# for문과 range문을 이용한 구구단
for i in range(2,10):           # 1번 for문
    for j in range(1,10):       # 2번 for문    
        print(i*j, end = " ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [27]:
a = [1,2,3,4]
result = []
for i in a:
    result.append(i*3)
    
print(result)

[3, 6, 9, 12]

In [31]:
a = [1,2,3,4]
result = [i*3 for i in a if i%2 == 0]
print(result)

[6, 12]

In [33]:
result = [x*y for x in range(2,10)
        for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]